@import "tailwindcss";

.swiper-button-next,
.swiper-button-prev {
  color: #e91e63 !important;
}

.swiper-pagination-bullet {
  background: #e91e63 !important;
  width: 5px;
  height: 5px;
}

.swiper-pagination-bullet-active {
  background: #d81b60 !important;
  transform: scale(1.2);
}

